#max1{
	border: 50px solid #3789C1;
	border-radius:50px;
	margin:50px;
	padding:40px;
	background-color:#053FC4;
	color:#FDF5E6;
}

#max2{
	border: 50px solid #3789C1;
	border-radius:50px;
	margin:50px;
	padding:10px;
	background-color:#053FC4;
}

#max3{
	margin-left:100px;
}

#max4{
	margin-left:350px;
}

body{
	background-image:url(zvezdnoe-nebo.jpg);
}

#max6{
	color:#D5E1CF;
}